# 순위 검색

https://programmers.co.kr/learn/courses/30/lessons/72412

### 나의 풀이

In [8]:
info=["java backend junior pizza 150","python frontend senior chicken 210","python frontend senior chicken 150","cpp backend senior pizza 260","java backend junior chicken 80","python backend senior chicken 50"]
query=["java and backend and junior and pizza 100","python and frontend and senior and chicken 200","cpp and - and senior and pizza 250","- and backend and senior and - 150","- and - and - and chicken 100","- and - and - and - 150"]

In [9]:
def solution(info, query):
    infonew=[i.split() for i in info]
    querynew=[i.replace(' and ',' ').split() for i in query]

    answer=[]
    for a,b,c,d,e in querynew:
        cnt=0
        for f,g,h,i,j in infonew:
            if (a==f or a=='-') and (b==g or b=='-') and (c==h or c=='-') and (d==i or d=='-') and int(e)<=int(j):
                cnt+=1
        answer.append(cnt)

    return answer

[['java', 'backend', 'junior', 'pizza', '150'],
 ['python', 'frontend', 'senior', 'chicken', '210'],
 ['python', 'frontend', 'senior', 'chicken', '150'],
 ['cpp', 'backend', 'senior', 'pizza', '260'],
 ['java', 'backend', 'junior', 'chicken', '80'],
 ['python', 'backend', 'senior', 'chicken', '50']]

In [15]:
infonew=[i.split() for i in info]
infonew

[['java', 'backend', 'junior', 'pizza', '150'],
 ['python', 'frontend', 'senior', 'chicken', '210'],
 ['python', 'frontend', 'senior', 'chicken', '150'],
 ['cpp', 'backend', 'senior', 'pizza', '260'],
 ['java', 'backend', 'junior', 'chicken', '80'],
 ['python', 'backend', 'senior', 'chicken', '50']]

In [16]:
querynew=[i.replace(' and ',' ').split() for i in query]
querynew

[['java', 'backend', 'junior', 'pizza', '100'],
 ['python', 'frontend', 'senior', 'chicken', '200'],
 ['cpp', '-', 'senior', 'pizza', '250'],
 ['-', 'backend', 'senior', '-', '150'],
 ['-', '-', '-', 'chicken', '100'],
 ['-', '-', '-', '-', '150']]

In [26]:
info_ls=[]
for a,b,c,d,e in infonew:
    infodict=dict()
    infodict['lan']=a
    infodict['duty']=b
    infodict['career']=c
    infodict['food']=d
    infodict['score']=int(e)
    info_ls.append(infodict)

In [27]:
info_ls

[{'lan': 'java',
  'duty': 'backend',
  'career': 'junior',
  'food': 'pizza',
  'score': 150},
 {'lan': 'python',
  'duty': 'frontend',
  'career': 'senior',
  'food': 'chicken',
  'score': 210},
 {'lan': 'python',
  'duty': 'frontend',
  'career': 'senior',
  'food': 'chicken',
  'score': 150},
 {'lan': 'cpp',
  'duty': 'backend',
  'career': 'senior',
  'food': 'pizza',
  'score': 260},
 {'lan': 'java',
  'duty': 'backend',
  'career': 'junior',
  'food': 'chicken',
  'score': 80},
 {'lan': 'python',
  'duty': 'backend',
  'career': 'senior',
  'food': 'chicken',
  'score': 50}]

In [24]:
[(a,b,c,d,int(e)) for a,b,c,d,e in infonew]

[('java', 'backend', 'junior', 'pizza', 150),
 ('python', 'frontend', 'senior', 'chicken', 210),
 ('python', 'frontend', 'senior', 'chicken', 150),
 ('cpp', 'backend', 'senior', 'pizza', 260),
 ('java', 'backend', 'junior', 'chicken', 80),
 ('python', 'backend', 'senior', 'chicken', 50)]

In [8]:
import pandas as pd

In [70]:
df_info=pd.DataFrame(ls_info,columns=['lan','duty','career','food','score'])
df_info.score=df_info.score.apply(pd.to_numeric)
df_info

      lan      duty  career     food  score
0    java   backend  junior    pizza    150
1  python  frontend  senior  chicken    210
2  python  frontend  senior  chicken    150
3     cpp   backend  senior    pizza    260
4    java   backend  junior  chicken     80
5  python   backend  senior  chicken     50

In [111]:
df_query=pd.DataFrame(ls_query,columns=['lan','duty','career','food','score'])
df_query.score=df_query.score.apply(pd.to_numeric)
df_query

      lan      duty  career     food  score
0    java   backend  junior    pizza    100
1  python  frontend  senior  chicken    200
2     cpp         -  senior    pizza    250
3       -   backend  senior        -    150
4       -         -       -  chicken    100
5       -         -       -        -    150

In [112]:
df_query=df_query.append({'lan':'java'or'python'or'cpp','duty':'backend','career':'senior','food':('pizza'or'chicken'),'score':100},ignore_index=True)
df_query

      lan      duty  career     food  score
0    java   backend  junior    pizza    100
1  python  frontend  senior  chicken    200
2     cpp         -  senior    pizza    250
3       -   backend  senior        -    150
4       -         -       -  chicken    100
5       -         -       -        -    150
6    java   backend  senior    pizza    100

In [73]:
for i in range(len(query)):
    print((df_info[\
          ((df_query.lan[i]==df_info.lan) | (df_query.lan[i]=='-'))\
        & ((df_query.duty[i]==df_info.duty) | (df_query.duty[i]=='-'))\
        & ((df_query.career[i]==df_info.career) | (df_query.career[i]=='-'))\
        & ((df_query.food[i]==df_info.food) | (df_query.food[i]=='-'))\
        & ((df_query.score[i]<=df_info.score) | (df_query.score[i]=='-'))\
        ]))
    print('-'*100)
#     print(df_info[df_info.lan==df_query.lan[i]])

    lan     duty  career   food  score
0  java  backend  junior  pizza    150
----------------------------------------------------------------------------------------------------
      lan      duty  career     food  score
1  python  frontend  senior  chicken    210
----------------------------------------------------------------------------------------------------
   lan     duty  career   food  score
3  cpp  backend  senior  pizza    260
----------------------------------------------------------------------------------------------------
   lan     duty  career   food  score
3  cpp  backend  senior  pizza    260
----------------------------------------------------------------------------------------------------
      lan      duty  career     food  score
1  python  frontend  senior  chicken    210
2  python  frontend  senior  chicken    150
----------------------------------------------------------------------------------------------------
      lan      duty  career     food  score
0    java   backend  junior    pizza    150
1  python  frontend  senior  chicken    210
2  python  frontend  senior  chicken    150
3     cpp   backend  senior    pizza    260
----------------------------------------------------------------------------------------------------

In [113]:
df_query.iloc[6]

lan          java
duty      backend
career     senior
food        pizza
score         100
Name: 6, dtype: object

In [114]:
df_info.iloc[1]

lan         python
duty      frontend
career      senior
food       chicken
score          210
Name: 1, dtype: object

In [115]:
df_query.iloc[6]==df_info.iloc[1]

lan       False
duty      False
career     True
food      False
score     False
dtype: bool